.aigis-moduleList {
  line-height: 1.6;
  font-size: 16px;
  &__item {
    a {
      color: #08f;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    
  }
}
